<script type="text/javascript">

  function click_read_more () {
    var read_more = document.getElementById('read_more');
    var hidden_paragraph = document.getElementById('hidden_paragraph');

    read_more.style.display = 'none';
    hidden_paragraph.style.display = '';
  }

  function click_hidden_text () {
      var read_more = document.getElementById('read_more');
      var hidden_paragraph = document.getElementById('hidden_paragraph');

      read_more.style.display = '';
      hidden_paragraph.style.display = 'none';
  }
</script>

<div class="row">
  <hr>
  <div class="small-8 columns">
    <p>
      Предлагаю свои услуги по съемке интерьеров, сферических панорам и созданию виртуальных туров по Беларуси.
    </p>
    <p>
      <b>Сферическая панорама</b> – способ показать окружающую нас реальность.
      Зритель как бы «в живую» окунается в мир и может рассмотреть пространство вокруг, интерьеры и окружающие предметы.
    </p>
    <p>
      Соединение сферических панорам между собой посредством активных точек,
      карт позволяет мгновенно перемещаться в пространстве и знакомить с окружающей обстановкой.
      В результате Зритель попадает в некий виртуальный тур или виртуальную экскурсию.
    </p>

    <p>
      Для большей реалистичности погружения в пространство в виртуальные туры и
      сферические панорамы можно добавлять музыкальное сопровождение, фотографии и анимацию.
      На сферических панорамах можно размещать дополнительную текстовую рекламную или пояснительную информацию.
    </p>
    <p><a id="read_more" onclick="click_read_more()">Читать больше...</a></p>
  </div>
  <div class="large-4 columns">
    <%= image_tag('vyacheslav.jpg', border: 0)%>
  </div>
  <div id="hidden_paragraph" class="large-12 columns" style="display:none">
    <p>
      Сферические панорамы и виртуальные туры могут быть использованы в различных областях,
      где необходима визуальное представление объектов; реклама, презентации, учебные пособия и другое.
      Они послужат ярким и наглядным дополнением вашей рекламы или презентации.
      Ваши потенциальные заказчики смогут получить наиболее полное представление о том,
      как выглядит объект, интерьеры помещений;
      продемонстрируют возможности производственных мощностей и передадут внутреннюю атмосферу.
      При этом клиенту не обязательно тратить драгоценное время свое и Ваше для посещения объекта с выездом.
      Для этого достаточно иметь сферические панорамы или виртуальный тур круглосуточно доступный в сети интернет.
      При просмотре которых не требуется специализированного дополнительного программного обеспечения.
    </p>
    <p><a id="hidden_text" onclick="click_hidden_text()">Скрыть текст...</a></p>
  </div>
  <div class="large-12 columns" >
    <p>
      Съемка простой сферической панорамы по времени занимает порядка 15 минут, последующая обработка и склейка 1-2 дня.
      При создании виртуального тура необходимо определить количество панорам объединенных в тур,
      какие дополнительные интерактивные элементы должны быть включены в панорамы.
      Готовая работа предоставляется заказчику в электронном виде на носителе по согласованию: CD, Flash, другое.
    </p>
  </div>
</div>