<script type="text/javascript">

  function click_read_more () {
    var read_more = document.getElementById('read_more');
    var hidden_paragraph = document.getElementById('hidden_paragraph');

    read_more.style.display = 'none';
    hidden_paragraph.style.display = '';
  }

  function click_hidden_text () {
    var read_more = document.getElementById('read_more');
    var hidden_paragraph = document.getElementById('hidden_paragraph');

    read_more.style.display = '';
    hidden_paragraph.style.display = 'none';
  }
</script>

<div class="row">
  <hr>
  <div class="small-8 columns">
    <p>
      <b>Сферическая панорама</b> – способ показать окружающую нас реальность. Зритель как бы «в живую» окунается в мир
      и может рассмотреть пространство вокруг, интерьеры и окружающие предметы.
    </p>
    <p>
      Соединение сферических панорам между собой посредством активных точек, карт позволяет мгновенно перемещаться в
      пространстве и знакомить с окружающей обстановкой. В результате Зритель попадает в некий виртуальный тур
      или виртуальную экскурсию.
    </p>
    <p>
      Для большей реалистичности погружения в пространство виртуальные туры и сферические панорамы оформляются
      музыкальным сопровождением, фотографиями и анимацией. На сферических панорамах размещают дополнительную текстовую
      рекламную или пояснительную информацию.
    </p>
    <p><a id="read_more" onclick="click_read_more()">Читать больше...</a></p>
  </div>

  <div class="large-4 columns">
    <%= image_tag('vyacheslav2.jpg', border: 0)%>
  </div>
  <div id="hidden_paragraph" class="large-12 columns" style="display:none">
    <p>
      Сферические панорамы и виртуальные туры используются в различных областях, где необходимо визуальное представление
      объекта: реклама, презентации, учебные пособия и другое. Они служат ярким и наглядным дополнением рекламы или
      презентации. С помощью сферической панорамы или виртуального тура можно получить наиболее полное представление о
      том, как выглядит объект, интерьеры помещения; демонстрируют возможности производственных мощностей и передают
      внутреннюю атмосферу. Человеку не обязательно тратить драгоценное время и средства для непосредственного посещения
      объекта. Достаточно иметь сферические панорамы или виртуальный тур круглосуточно доступные в сети интернет. Для их
      просмотра не требуется специализированного дополнительного программного обеспечения.
    </p>
    <p><a id="hidden_text" onclick="click_hidden_text()">Скрыть текст...</a></p>
  </div>

  <div class="large-12 columns" >
    <p>
      Я из Беларуси, г.Гродно. Снимаю сферические панорамы и делаю виртуальные туры. Для получения простой сферической
      панорамы уходит порядка 15 минут на съемку, последующая обработка отснятого материала и склейка панорамы требует
      еще 1-2 дня. При создании виртуального тура определяется количество панорам объединенных в тур, какие дополнительные
      интерактивные элементы включаются в панорамы и тур. Готовая панорама или тур записываются в электронном виде на
      носитель (CD, Flash, другое) для последующего использования.
    </p>
  </div>

</div>