<a name="contacts"></a>

<div class="row">
  <div class="large-12 columns title">
    <hr>
    <h4>Связаться со Мной</h4>
    <div class="large-4 columns">
      <b>Email:</b> pvv_photo@mail.ru
    </div>
    <div class="large-4 columns">
      <div style="text-align: center">
        <b>VKontakte:</b> <a href="https://vk.com/id188173429" target="_blank">vk.com/id188173429</a>
      </div>
    </div>
    <div class="large-4 columns">
      <div style="text-align: right"><b>Phone:</b> +375297887670</div>
    </div>
    <div class="large-4 columns">
      &nbsp;
    </div>
    <div class="large-4 columns">
      <div style="text-align: center">
        <b>Blog:</b> <a href="http://www.360cities.net/profile/pvv_photo" target="_blank">360cities.net/profile/pvv_photo</a>
      </div>
    </div>
    <div class="large-4 columns">
      &nbsp;
    </div>
  </div>
</div>